
main {
    font-size: x-large;
    background-color: #9eddfd;
}
h1 {
    text-align: center;
    color: rgb(250, 184, 98);
    margin-top: 0px ;

}

form {
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
input {
    
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
}