@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
footer {
    background-color: rgb(250, 206, 148);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
   border-radius: 35px;
   text-align: center;
   font-family: 'Rubik', sans-serif;
   width: 550px;
   height: 20px;

}